@model imnobiliatiaNet.Models.Inquilino
@{
    ViewData["Title"] = "Nuevo Inquilino";
}
<h1>Nuevo Inquilino</h1>

<form asp-action="Crear" method="post">
    <partial name="_Form" />
    <button class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-link">Volver</a>
</form>
